/* -----------------------------------------
	05. Footer
----------------------------------------- */
.footer {
	background-color: $secondary-bg;
	padding: 85px 0 10px;
	border-top: 1px solid $border-color;
}

.footer-credits {
  text-align: center;
  font-size: 13px;
}